<form action="/create" method="POST">
  <h2>Create User</h2>

  <div class="input-field">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <p>User data</p>
  </div>

  <button type="submit" class="btn">Create</button>
</form>