<form action="/signUp" method="POST">
  <h2>Create User</h2>

  <div class="input-field">
    <h4>Registration form</h4>
    <p>First Name</p>
    <input type="text" name="firstName" placeholder="First Name">
    <p>Last Name</p>
    <input type="text" name="lastName" placeholder="Last Name">
    <p>Email</p>
    <input type="text" name="email" placeholder="email">
    <p>Password</p>
    <input type="password" name="password" placeholder="Password">
  </div>

  <button type="submit" class="btn">Create</button>
</form>